/* You can add global styles to this file, and also import other style files */
/* src/styles.css */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'DM Sans', sans-serif;
  background: #F8F4EF;
}